@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lobster&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    font-family: "League Spartan", sans-serif;
    max-width: 100%;
    background-color: rgb(250, 249, 249);
    font-weight: 300;
}
img{
    width: 100%;
}
button{
    background-color: #242d46;
    border: none;
    padding: 0.8rem 1.8rem;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
button:hover{
  background-color: #313d5f;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: rgb(63, 60, 60);
    padding-bottom: 5rem;
}
h3{
    align-items: center;
}
p{
  font-size: 1.4rem;
  color: #868080;
  padding: 4rem;
}

.header-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  @media (max-width: 768px) {
    .header-features {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
  
    .header-list {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    .header-features button {
      width: 100%;
      max-width: 200px;
    }
  }
  .logo img {
    width: 120px; 
  }
  
  .header-list {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .header-list li a {
    text-decoration: none;
    color: #333; 
    font-weight: 500;
  }
  .header-list li a:hover{
    text-decoration:solid underline;
    text-decoration-color: rgb(202, 17, 17);
  }
  .about-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .about-content {
    flex: 1;
    min-width: 300px;
  }
 .about-content-text{
  padding-top: 7rem;
  padding-left: 3rem;
 }
 
 .about-content-text h3 {
  text-align: left;
  font-size: 3rem;
  color: rgb(63, 60, 60);
  margin-bottom: 1rem;
 }

 .about-content-text h2{
  color: rgb(63, 60, 60);
  font-size: 4rem;
 }

 .sub-text{
  padding-top: 1rem;
 }

  .about-image img {
    width: 100%;
    height: auto;
    border-radius: 17px;
    object-fit: cover;
  }
  .about-image {
    flex: 1;
  }
  .about-content-text span{
    color: rgb(224, 88, 110);
  }
  .about-content button{
    margin-left: 4rem;
  }
  
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 1rem;
    }
  
    .about-image img {
      width: 100%; 
      max-width: 500px; 
      margin-bottom: 3rem; 
    }
  
    .sub-text {
      padding-right: 0 1rem;
      text-align: center;
      font-size: 1rem; 
    }

    .about-content button{
      margin: 2rem auto 4rem auto; 
      display: block; 
      padding: 1.5rem 4rem;
    }
 
  }
  .services-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
  }
  .icon-container {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    background-color:#abcae2;
    border-radius: 50px;
    padding: 10px;
    margin-left: 9rem;
  }

  .services{
    padding: 7rem 2rem;
    
  }
  .services-item {
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }

  .services-item:hover{
    transform: translateY(-5px);
  }
  .services-item a {
    color: rgb(224, 88, 110);
    text-decoration: none;
  }
  
  .services h3{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .services p{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.5rem;
  }

  @media (max-width: 768px) {
    .services-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .services-item {
      padding: 20px 30px; 
    }
  
    .icon-container {
      width: 50px; 
      height: 50px;
      margin-left: 15rem;
    }
  
    .services h3 {
      font-size: 1.3rem; 
    }
  
    .services p {
      font-size: 1rem; 
    }
  }
  
 
  @media (max-width: 480px) {
    .services-container {
      flex-direction: column;
      align-items: center;
    }
  
    .services-item {
    padding: 3rem; 
    }

  }

  .mobile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .mobile-image {
    display: flex;
    width: 350px;
    height: auto;
    padding-right: 5rem;
  }
  
  .mobile-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .mobile-content h1 {
    text-align: left; 
    padding: 4rem;
  }
  
  .mobile-content button {
    width: fit-content;
    padding: 1.5rem 4rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
  }

  @media (max-width: 768px) {
    .mobile-container {
      flex-direction: column;
      padding: 2rem;
    }
  
    .mobile-content {
      padding: 0;
      text-align: center;
    }
  
    .mobile-content h1 {
     padding-bottom: 1rem;
      padding-top: 2rem;
      text-align: center;
      font-size: 1.5rem;
    }
  
    .mobile-content p {
      text-align: center;
      font-size: 1rem;   
    }

    .mobile-content button {
      margin: 2rem auto 4rem auto; 
      display: block; 
      padding: 1.5rem 4rem;
    }
    

    .mobile-image {
      width: 100%;
      display: block;
       
    }
  }
  
  .numbers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 40px;
    justify-content: center; 
  }
  
  .numbers {
    padding: 5rem 5rem;
  }
  
  .number-item {
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .numbers h4 {
    font-size: 7rem;
    font-weight: bold;
    color: rgb(86, 86, 116);
  }
  
  .numbers span {
    color: rgb(224, 88, 110);
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .numbers-container {
      grid-template-columns: 1fr; 
      justify-items: center; 
    }
  
    .number-item {
      width: 80%; 
    }

    .numbers h4 {
      font-size: 4rem;
    }
  }
  
 
  .feedback-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
  }
  
  .feedback-content {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background: #fff; 
  }
  
  .feedback {
    padding: 7rem 8rem;
  }
  
  .feedback-image-container img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .feedback-image-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  
  .feedback-image-container h5 {
    padding-top: 1rem;
  }
  
  .feedback-content p {
    padding: 2rem;
    text-align: center;
  }
 
  @media (max-width: 768px) {
    .feedback-container {
      grid-template-columns: 1fr; 
    }
  
    .feedback-content {
      width: 100%; 
    }
  }
  
 
  @media (max-width: 480px) {
    .feedback-container {
      grid-template-columns: 1fr; 
    }
  
    .feedback-content {
      width: 100%; 
    }
  
    .feedback {
      padding: 3rem 1rem; 
    }
  
    .feedback-content p {
      padding: 1.5rem; 
    }
  
    .feedback-image-container {
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }
  

  .contact {
    background-color: #f1efef; 
    padding: 6rem 3rem;
    min-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
  
  .contact-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1.5rem;
    transform: translateY(-20px);
    padding-bottom: 7rem;
    padding-top: 6rem;
  }
  
  .contact-content h1 {
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem; 
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 30px; 
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    background-color: #ece9e9;
    margin-bottom: 1rem;
  }
  
  .contact-form textarea {
    resize: none;
    height: 200px; 
  }
  
  .contact-content button {
    width: fit-content;
    padding: 1.5rem 4rem;
  }
  

.first-location {
  margin-bottom: 15rem;
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
}

.second-location {
  margin-bottom: 2rem;
  margin-right: 23rem;
  width: 4.5rem;
  height: 4.5rem;
}

.third-location{
  margin-left: 20rem;
  width: 3.5rem;
  height: 4.5rem;

}
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-content {
      transform: translateY(0);
      padding: 0 2rem 4rem 2rem; 
      text-align: center; 
      align-items: center; 
    }
  
    .contact-content h1 {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 1rem;
      font-size: 2rem;
    }
  
    .contact-form {
      padding: 2rem;
      max-width: 100%;
    }
  
    .locations {
      justify-content: center;
      gap: 2rem;
    }
  
    .first-location,
    .second-location,
    .third-location {
      margin: 0; 
      width: 3rem;
      height: 3rem;
    }
  
    .second-location {
      width: 3.5rem;
      height: 3.5rem;
    }
  
    .third-location {
      width: 4rem;
      height: 4rem;
    }
  }
  
  @media (max-width: 480px) {
    .contact {
      padding: 4rem 1rem;
    }
  
    .contact-content {
      padding: 0 1rem 4rem 1rem;
    }
  
    .contact-form {
      padding: 1.5rem;
    }
  }
  
  .newsletter{
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  .newsletter-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  .newsletter-content h4 {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 2rem;
    color: rgb(63, 60, 60);
    padding-left: 4rem;
  }
  .newsletter-content p {
    padding-top: 1rem;
  }
 
  .newsletter-input{
    display: flex;
    padding: 2.5rem;
  }
  .newsletter-input input{
    padding: 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ece9e9;
  }
  .newsletter-input button{
    width: fit-content;
    padding: 0.3rem 4rem;
  }
  @media (max-width: 768px) {
    .newsletter-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .newsletter-input {
      flex-direction: column; 
      width: 100%; 
    }
  
    .newsletter-input input {
      padding: 15px 30px; 
      margin-bottom: 1rem; 
    }
  
    .newsletter-input button {
      width: 100%; 
    }
  }

  @media (max-width: 480px) {
    .newsletter-content h4 {
      font-size: 1.3rem; 
    }
  
    .newsletter-input input {
      padding: 15px 20px; 
    }
  
    .newsletter-input button {
      padding: 0.3rem 1.5rem; 
    }
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 3rem; /* fixed height for desktop */
    background-color: #242d46;
    padding: 2rem;
  }
  
  .footer-text {
    display: flex;
    align-items: center;
  }
  
  .footer-text p {
    font-size: 1.2rem;
  }
  
  .footer-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
  }
  
  .footer-navigation a {
    text-decoration: none;
    color: white;
  }
  
  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      height: auto; 
      padding: 1rem; 
    }
  
    .footer-navigation {
      flex-direction: column;
      gap: 0.2rem; 
    }
  }
  

html, body {
  overflow-x: hidden;
  width: 100%;
}

@media (max-width: 768px) {
body, html {
  overflow-x: hidden;
}
}


